* {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  font: 9pt verdana, sans-serif;
  margin: 2em;
}

.clear_hack {
  height: 0;
  clear: both;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.6em;
  margin: 0.625em 0;
}
