body {
    
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

a       { text-decoration: none; }
a:hover { text-decoration: underline; }


#header {
  margin-bottom: 5px;
  position: relative;
}
  
  #header h1 {
    width: 340px;
    height: 120px;
    text-indent: -9999px;
    background: url("../png/header.png") no-repeat;
  }
  
  #logged_in_as {
    font-size: 7pt;
    text-align: center;
    
    position: fixed;
    top: 0;
    left: 50%;
    width: 460px;
    margin-left: -250px;
    padding: 4px 20px;
    
    background: url("../png/logged-in-banner.png") no-repeat 0 100%;
  }

    #logged_in_as .username {
      text-transform: uppercase;
      color: #aa0;
    }
  
  #pages {
  }

    #pages li {
      float: left;
      list-style: none;
    }

      #pages li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
      }
      
      /* each page has its own color...
         make sure there's enough to expand! */
      #pages li.p1 a { background: #ff0090; }
      #pages li.p2 a { background: #8d466e; }

  #places {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
    #places li {
      list-style: none;
      background: #f00;
    }
    
      #places li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
      }
      
      #places li.p1 a { background: #b6ffe8; color: #008a88; } /* essays */
      #places li.p2 a { background: #d5ff7a; color: #00a49a; } /* resources */
      #places li.p3 a { background: #fff667; color: #ff7200; } /* tags */


#content {
    background: url("../png/swoosh.png") no-repeat;
    padding-top: 90px;
    padding-left: 30px;
}
  
  #content h1 {
    font-weight: bold;
    margin-top: 2em;
  }
  
    #content .post.first h1 {
      margin-top: 0;
    }
  
    #content h1 a {
      color: #000;
    }
  
  #content .date {
    float: right;
    padding-top: 12px;
    margin-top: 0.5em;
    line-height: 1;
    color: #ccc;
  }
  
  #content .authors {
    font-size: 150%;
    float: left;
    background: #feffc8;
    padding: 6px;
    line-height: 1;
    color: #feafbf;
    margin-bottom: 0.66em;
  }
  
    #content .authors a { color: #ff38b2; }
  
  #content .tags {
    color: #aaa;
    clear: left;
    padding-top: 0.5em;
    margin-bottom: 2em;
    border-top: 1px dotted #ccc;
  }
  
    #content .tags a { color: #00a4e1; }
  
  #content p {
    line-height: 1.6em;
  }
  
  .cloud {
    border: 0.5em solid #aff3ff;
    background: #eff;
    margin-left: -30px;
    margin-top: 1em;
    padding: 1em;
  }

    .cloud h2 {
      display: none;
    }
    
    .cloud a {
      /* color and size are inline */
    }

