/* vim:tabstop=2:expandtab */

* html body {
  /* to enable :hover on anything */
  behavior: url("/static/csshover.htc");
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

a       { text-decoration: none; }
a:hover { text-decoration: underline; }


#header {
  position: relative;
  background: url("../png/blue-stripe.png") repeat-x 0 100%;
}
  
  #header h1 {
    width: 446px;
    height: 120px;
    text-indent: -9999px;
    background: url("../png/header.png") no-repeat;
  }
  
  #pages {
  }

    #pages li {
      float: left;
      list-style: none;
      border-bottom: 6px solid #fff;
    }
    
    #pages li.last {
      border-right: 6px solid #fff;
    }

      #pages li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
        
        /* default colour = ugly! */
        background: yellow;
      }
      
      /* each page has its own color...
         make sure there's enough to expand! */
      #pages li.n0 a { background: #ff0090; }
      #pages li.n1 a { background: #8d466e; }
      #pages li.n2 a { background: #1cbcff; }
      #pages li.n3 a { background: #87ff1c; }
      #pages li.n4 a { background: #ff8400; }
      

  #places {
    position: absolute;
    bottom: 16px;
    right: 0;
    width: 8em;
  }
  
    #places li {
      list-style: none;
      background: #f00;
    }
    
      #places li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
      }
      
      #places li.p1 a { background: #b6ffe8; color: #008a88; } /* essays    */
      #places li.p2 a { background: #d5ff7a; color: #00a49a; } /* resources */
      #places li.p3 a { background: #fff667; color: #ff7200; } /* tags      */


#content_wrap {
    background: url("../png/blue-stripe.png") repeat-x;
}

#content {
    background: url("../png/swoosh.png") no-repeat;
    padding: 90px 30px 0 30px;
}
  
  #content .post,
  #content .page {
    position: relative;
  }
    
    /* the main (left) contents of
     * the post / page */
    #content .body {
      float: left;
      width: 70%;
    }
      
      /* gap between text and sidebar */
      #content .body p {
        padding-right: 2em; }
      
      /* all links in post body */
      #content .body a {
        color: #00a4e1; }
      
      #content .body a.complete {
        font-size: 150%;
        float: right;
        text-align: right;
        background: #feffc8;
        padding: 0.25em;
      }
      
    /* the additional stuff on
     * the right hand side */
    #content .post .clips,
    #content .page .clips {
      float: left;
      width: 30%;
    }
    
      #content .clips h3 {
        font-size: 150%;
        padding-bottom: 0.33em; /* 0.5em at font-size=100% */
        border-bottom: 1px dotted #ccc;
      }
      
      #content .clip {
        position: relative;
        padding-left: 21px;
        margin: 1.5em 0;
        background: url("../png/ref-arrow.png") no-repeat;
      }
      
      #content .clip.project blockquote,
      #content .clip.project div {
        background: #f88;
      }
      
        #content .clip blockquote,
        #content .clip .tags {
          font-size: 90%;
          line-height: 1.6em;
        }
        
        #content .clip .source a {
          margin-bottom: 0.5em;
          display: block;
        }
        
        #content .clip .tags {
          border-top: 0;
          margin: 1em 0 0 0;
          padding: 0;
        }
          
          /* the "tagged with" caption */
          #content .clip .tags p {
            display: none; }
      
      /* show "edit" link when hovering
       * over the clip to edit */
      #content .clip:hover a.edit {
        right: 0; }
    
    #content .post p {
    }
    
    /* serves both posts and pages */
    #content .edit {
      position: absolute;
      display: inline;
      right: 9999px;
      top: 0;
    }
      
      /* show "edit" link when hovering
       * over the post/page to edit */
      #content .post:hover a.ed-post,
      #content .page:hover a.ed-page {
        right: 0; }
      
      #content .ed-post { margin-top: 13px; top: 5.3em; } /* h1[ f:2em, mb:1em ], author[ pt:6px, f:1.3em, mb:1em, pb:6px ] */
      #content .ed-page { margin-top: 2px;  top: 3em; }
      
      /* hacked by eye for IE, which doesn't work (what's new?) */
      * html #content .ed-post { margin-top: 21px; }
      * html #content .ed-page { margin-top: 7px; }
      
  #content .post h1,
  #content .page h1 {
    margin-top: 2em; }
  
    #content .post.first h1,
    #content .page h1 {
      margin-top: 0; }
    
    #content h1 a {
      color: #000;
    }
  
  #content .date {
    position: absolute;
    line-height: 1;
    color: #ccc;
    right: 0;
    
    /* 3.3em = 2em(h1) + 1.3em (p.authors),
     * 12px  = 6px (authors padding) * 2 (top+bottom) */
    top: 12px;
    margin-top: 3.3em;
  }
  
  #content .authors {
    font-size: 130%;
    float: left;
    background: #feffc8;
    padding: 6px;
    line-height: 1;
    color: #feafbf;
    
    /* 1em @ 100% font size */
    margin-bottom: 0.769em;
  }
  
    #content .authors a { color: #ff38b2; }
  
  #content .tags {
    color: #aaa;
    clear: left;
    padding-top: 0.5em;
    margin-bottom: 2em;
    border-top: 1px dotted #ccc;
  }
  
    #content .tags a { color: #00a4e1; }
  
  #content p {
    line-height: 1.6em;
    margin-bottom: 1em;
  }
    
  .cloud {
    border: 0.5em solid #aff3ff;
    background: #eff;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 2em;
    padding: 1em;
  }

    .cloud h2 {
      display: none;
    }
    
    .cloud a {
      /* color and size are inline */
    }

#footer {
  margin-top: 2em;
  background: url("../png/uniwiki-unicef.png") no-repeat 100% 0;
}

  #footer div {
    padding-left: 35px;
    background: url("../png/footer-logo.png") no-repeat 0 50%;
  }

    #footer .links   { color: #0ff;    }
    #footer .links a { color: #00a4e1; }

    #footer .rights {
      margin-top: 0.25em;
      color: #aaa;
    }

