/* vim:tabstop=2:expandtab */

body {
    
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

a       { text-decoration: none; }
a:hover { text-decoration: underline; }


#header {
  position: relative;
  background: url("../png/blue-stripe.png") repeat-x 0 100%;
}
  
  #header h1 {
    width: 340px;
    height: 120px;
    text-indent: -9999px;
    background: url("../png/header.png") no-repeat;
  }
  
  #pages {
  }

    #pages li {
      float: left;
      list-style: none;
      border-bottom: 6px solid #fff;
    }
    
    #pages li.p2 {
      border-right: 6px solid #fff;
    }

      #pages li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
      }
      
      /* each page has its own color...
         make sure there's enough to expand! */
      #pages li.p1 a { background: #ff0090; }
      #pages li.p2 a { background: #8d466e; }
      

  #places {
    position: absolute;
    bottom: 16px;
    right: 0;
  }
  
    #places li {
      list-style: none;
      background: #f00;
    }
    
      #places li a {
        color: #fff;
        font-weight: bold;
        display: block;
        padding: 1em;
        width: 8em;
      }
      
      #places li.p1 a { background: #b6ffe8; color: #008a88; } /* essays    */
      #places li.p2 a { background: #d5ff7a; color: #00a49a; } /* resources */
      #places li.p3 a { background: #fff667; color: #ff7200; } /* tags      */


#content_wrap {
    background: url("../png/blue-stripe.png") repeat-x;
}

#content {
    background: url("../png/swoosh.png") no-repeat;
    padding: 90px 30px 0 30px;
}
  
  #content .post,
  #content .page {
    position: relative;
  }
    
    /* the main (left) contents of
     * the post / page */
    #content .body {
      float: left;
      width: 70%;
    }
    
      #content .body p {
        padding-right: 1em; }
      
      /* all links in post body */
      #content .body a {
        color: #00a4e1; }
      
      #content .body a.complete {
        font-size: 150%;
        float: right;
        text-align: right;
        background: #feffc8;
        padding: 0.25em;
      }
      
    /* the additional stuff on
     * the right hand side */
    #content .post .clips {
      float: left;
      width: 30%;
    }
    
      #content .clips h3 {
        font-size: 150%;
      }
      
      #content .clip {
        position: relative;
        padding-left: 21px;
        margin-top: 1em;
        background: url("../png/ref-arrow.png") no-repeat;
      }
      
        #content .clip blockquote,
        #content .clip .tags {
          font-size: 90%;
          line-height: 1.6em;
          margin: 1em 0;
        }
        
        #content .clip .source a {
          margin-bottom: 0.5em;
          display: block;
        }
        
        #content .clip .tags {
          border-top: 0;
        }
          
          /* the "tagged with" caption */
          #content .clip .tags p {
            display: none; }
            
      #content .post .clip a.edit,
      #content .page .clip a.edit {
        margin-top: 0;
        top: 0;
      }
      
      /* show "edit" link when hovering
       * over the clip to edit */
      #content .clip:hover a.edit {
        display: block; }
    
    #content .post p {
    }
    
    /* serves both posts and pages */
    #content .edit {
      position: absolute;
      right: 0;
      top: 0;
    }
      
      /* show "edit" link when hovering
       * over the clip to edit */
      #content .post:hover a.ed-post,
      #content .page:hover a.ed-page {
        display: block; }
      
      #content .ed-post { margin-top: 14px; top: 5.5em; }
      #content .ed-page { margin-top: 2px;  top: 3em;   }
  
  #content .post h1,
  #content .page h1 {
    margin-top: 2em; }
  
    #content .post.first h1,
    #content .page h1 {
      margin-top: 0; }
    
    #content h1 a {
      color: #000;
    }
  
  #content .date {
    position: absolute;
    line-height: 1;
    color: #ccc;
    right: 0;
    
    /* 3.5em = 2em(h1) + 1.5em (p.authors),
     * 12px  = 6px (authors padding) * 2 (top+bottom) */
    top: 12px;
    margin-top: 3.5em;
  }
  
  #content .authors {
    font-size: 150%;
    float: left;
    background: #feffc8;
    padding: 6px;
    line-height: 1;
    color: #feafbf;
    margin-bottom: 0.66em;
  }
  
    #content .authors a { color: #ff38b2; }
  
  #content .tags {
    color: #aaa;
    clear: left;
    padding-top: 0.5em;
    margin-bottom: 2em;
    border-top: 1px dotted #ccc;
  }
  
    #content .tags a { color: #00a4e1; }
  
  #content p {
    line-height: 1.6em;
    margin-bottom: 1em;
  }
    
  .cloud {
    border: 0.5em solid #aff3ff;
    background: #eff;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 2em;
    padding: 1em;
  }

    .cloud h2 {
      display: none;
    }
    
    .cloud a {
      /* color and size are inline */
    }

#footer {
  margin-top: 2em;
  background: url("../png/uniwiki-unicef.png") no-repeat 100% 0;
}

  #footer div {
    padding-left: 35px;
    background: url("../png/footer-logo.png") no-repeat 0 50%;
  }

    #footer .links   { color: #0ff;    }
    #footer .links a { color: #00a4e1; }

    #footer .rights {
      margin-top: 0.25em;
      color: #aaa;
    }

