/* vim:tabstop=2:expandtab */

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  zoom: 1;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
  font-size: 100%;
}

body {
  font: 9pt verdana, sans-serif;
  margin: 2em;
}

  #wrapper {
    z-index: 1;
  }
  
.clear_hack {
  height: 0;
  clear: both;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: bold;
  font-family: arial, sans-serif;
}

h2 {
  font-size: 1.6em;
  margin: 0.625em 0;
}

#content p.disaster {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #f00;
  background: #e00;
  
  /* 1em @ 500% */
  font-size: 500%;
  margin-bottom: 0.2em;
}

a.edit {
  color: #fff;
  padding: 0.4em;
  background: #c00;
  white-space: nowrap;
}

a.edit:hover {
  background: #f00;
}

#header { }
  
  #logged_in_as {
    font-size: 7pt;
    text-align: center;
    
    position: fixed;
    top: 0;
    left: 50%;
    width: 460px;
    margin-left: -250px;
    padding: 4px 20px;
    z-index: 998;
    
    background: url("../png/logged-in-banner.png") no-repeat 0 100%;
  }
  
  /* IE < 7 only! */
  * html #logged_in_as {
    position: absolute;
    top: expression((documentElement.scrollTop-2) + "px");
  }

    #logged_in_as .username {
      text-transform: uppercase;
      color: #aa0;
    }
  
  /* for adding and removing things from
     the site. only displayed when logged in */
  #admin_toolbox {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 8pt;
    background: #eee;
    border: 1px solid #000;
  }
  
    * html #admin_toolbox {
      position: absolute;
      top: expression((documentElement.scrollTop + 4) + "px");
      width: 11em;
      right: 2px;
    }
  
    #admin_toolbox h3 {
      color: #fff;
      cursor: pointer;
      background: #000;
      text-align: center;
      padding: 0.5em 1em;
    }
    
      #admin_toolbox.open h3 {
        border-bottom: 1px solid #000; }
    
    #admin_toolbox ul {
    }
  
      #admin_toolbox li {
        list-style: none;
        display: none;
      }
      
      #admin_toolbox.open li {
        display: block; }
      
        #admin_toolbox a {
          display: block;
          padding: 0.75em;
          color: #000;
          text-decoration: none;
          border-bottom: 1px dotted #aaa;
        }
          
          #admin_toolbox li.last a {
            border-bottom: 0;
            text-align: right;
            color: #888;
          }
          
          #admin_toolbox a:hover { background: #ddd; }
          #admin_toolbox li.last a:hover { color: #444; }

