/* vim:tabstop=2:expandtab */


        
        
#content_wrap1 {
  background: url("../png/blue-stripe.png") repeat-x; }

#content_wrap2 {
  background: url("../png/swoosh.png") no-repeat;
  padding-top: 60px;
}

#footer {
  margin-top: 2em;
  background: url("../png/uniwiki-unicef.png") no-repeat 100% 0;
}

  #footer div {
    padding-left: 35px;
    background: url("../png/footer-logo.png") no-repeat 0 50%;
  }

    #footer .links   { color: #0ff;    }
    #footer .links a { color: #00a4e1; }

    #footer .rights {
      margin-top: 0.25em;
      color: #aaa;
    }