/* vim:tabstop=2:expandtab */

#header {
  background: url("../png/blue-stripe.png") repeat-x 0 100%;
}
  
  #header h1 {
  }
  
    #header h1 a {
      background: url("../png/header.png") no-repeat;
    }
        
        
#content_wrap1 {
  background: url("../png/blue-stripe.png") repeat-x; }

#content_wrap2 {
  background: url("../png/swoosh.png") no-repeat;
}

#footer {
  background: url("../png/uniwiki-unicef.png") no-repeat 100% 0;
}

  #footer div {
    background: url("../png/footer-logo.png") no-repeat 0 50%;
  }

    #footer .links   { color: #0ff;    }
    #footer .links a { color: #00a4e1; }

    #footer .rights {
      margin-top: 0.25em;
      color: #aaa;
    }
    
    #places li.p1 a { background: #86ffe2; color: #007a76; } /* essays    */
    #places li.p2 a { background: #b6ff51; color: #00988a; } /* resources */
    #places li.p3 a { background: #fefb35; color: #ff5400; } /* tags      */
    
    /* each page has its own color...
       make sure there's enough to expand! */
    #pages li.n0 a { background: #ff0090; }
    #pages li.n1 a { background: #8d466e; }
    #pages li.n2 a { background: #1cbcff; }
    #pages li.n3 a { background: #87ff1c; }
    #pages li.n4 a { background: #ff8400; }
    
    
    
    #content .authors {
      background: #feffc8;
      color: #feafbf;
    }
    
    #content .tags a { color: #00a4e1; }
    
    .cloud {
      border: 0.5em solid #aff3ff;
      background: #eff;
    }