/* vim:tabstop=2:expandtab */

#header {
  background: url("../png/blue-stripe.png") repeat-x 0 100%;
}
  
  #header h1 {
  }
  
    #header h1 a {
      background: url("../png/header.png") no-repeat;
    }
        
        
#content_wrap1 {
  background: url("../png/blue-stripe.png") repeat-x; }

#content_wrap2 {
  background: url("../png/swoosh.png") no-repeat;
}

#footer {
  background: url("../png/uniwiki-unicef.png") no-repeat 100% 0;
}

  #footer div {
    background: url("../png/footer-logo.png") no-repeat 0 50%;
  }

    #footer .links   { color: #0ff;    }
    #footer .links a { color: #00a4e1; }

    #footer .rights {
      margin-top: 0.25em;
      color: #aaa;
    }